/*UNIVERSAL*/
body{
	font-family: 'Spectral SC', serif;
}
/*GAME CSS*/
/*NAV*/
.icon-img{
	height: 48px; 
	width: 48px;
	margin-top: 0.5%;
	margin-right: 1%;
}
.container{
	text-align: center;
	color:#66fcf1;
}
nav ul a{
	color:#66fcf1;
}
nav ul a:hover{
	color:#c5c6c7;
}
nav .brand-logo{
	color:#66fcf1;
}
/*CONTENTS*/
/*SELECTORS*/
.col.s4{
	text-align: center;
}
i.large{
	font-size: 12rem;
}
/*FOOTER*/
.game,.page-footer{
	background-color: #0B0C10;
		color:#66fcf1;
}
a {
	color:#66fcf1;
}