
/*MODAL*/
.modal .modal-footer{
	text-align: center;
}
/*MENU CSS*/
.header{
	background-image: url("bmg11.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: 'Lobster', cursive;
=======
  	font-family: 'Lobster', cursive;
>>>>>>> 3894adef13209bdb7c73ae1054f6f8fa9cc2f212
=======

    font-family: 'Lobster', cursive;
=======
  	font-family: 'Lobster', cursive;

>>>>>>> 1a5592d16991f5b91074b2f6ec059d0f79b21036
}
nav.nav-center ul {
    text-align: center;
/*    color: #66fcf1;*/
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
    color: #66fcf1;

}
nav ul a:hover{
	color:#c5c6c7 !important;
}
.right{
	float: none !important;
}
#bmg{
	text-align: center;
	margin-top: 10%;
	font-size: 7.0rem;
}
.container{
	text-align: center;
	text-shadow: 2px 2px #000000;
	color:#66fcf1;
}
.material-icons.left{
	line-height: 36px;
}
.btn, .btn-large{
	background-color: #0B0C10;
	color: #66fcf1;
	text-shadow: 0px 0px #000000;
}