
/*NAVBAR*/
.icon-img{
	height: 48px; 
	width: 48px;
	margin-top: 0.5%;
	margin-right: 1%;
}
.sidenav-overlay{
	position: inherit;
}

@media only screen and (min-device-width: 440px) and (max-device-width:1020px){
	.icon-img{
		margin-top: 1%;
	}
}
/*FIRST CONTAINER*/

.dynamic-container{
	height: 70vh;
}
#basic-info{
	background-color: blue;
}
.options{
	margin-top: 3%;
}
.option-items{
	margin-top: 1%;
}
.container{
	text-align: center;
}
/*MODAL*/
.modal .modal-footer{
	text-align: center;
}