
/*MODAL*/
.modal .modal-footer{
	text-align: center;
}
body{
	font-family: 'Spectral SC', serif;
}
/*MENU CSS*/
.header{
	background-image: url("../images/bmg11.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
  	font-family: 'Spectral SC', serif;
	/*font-family: 'Montserrat', sans-serif;
	font-family: 'Slabo 27px', serif;
	font-family: 'Dosis', sans-serif;
	font-family: 'Pacifico', cursive;
	font-family: 'Bree Serif', serif;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Acme', sans-serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Amatic SC', cursive;
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Shrikhand', cursive;
	font-family: 'Satisfy', cursive;*/
}
nav.nav-center ul {
    text-align: center;
/*    color: #66fcf1;*/
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
    color: #66fcf1;

}
nav ul a:hover{
	color:#c5c6c7 !important;
}
.right{
	float: none !important;
}
#bmg{
	text-align: center;
	margin-top: 0px;
	font-size: 7.0rem;
}
@media only screen and (min-device-width: 300px){
    #bmg{
      font-size: 5.0rem;
    }
  }
@media only screen and (min-device-width: 768px){
    #bmg{
      font-size: 7.0rem;
    }
  }

.nav-c.container{
	text-align: center;
	text-shadow: 2px 2px #000000;
	color:#66fcf1;
}
.material-icons.left{
	line-height: 36px;
}
.btn, .btn-large{
	background-color: #0B0C10;
	color: #66fcf1;
	text-shadow: 0px 0px #000000;
}
.btn:hover, .btn-large:hover{
	background-color: #0B0C10;
}
#ct1{
	height: 10vh;
}

